<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap">
  <div class="brand-bar mr-0 es-brand">
    <img class="mr-2" src="assets/img/logo.png" alt="" width="32" height="32">
    <span>Accolite Softwares</span>
    <span class="fa fa-bars icon"  (click)="toggleMenu()"></span>
  </div>
  <div class="flex-nav">
    
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="javascript:void">
          <img src="assets/img/default-user-img.png" class="img-fluid img-circle" height="22px" width="22px" alt="Responsive image">

        </a>
      </li>
    </ul>
  </div>
</nav>
