<div class="container">
  <form [formGroup]="skillRegistrationForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-12 p-0">
      <h4>Skill</h4>
      <hr>
      </div>
      <div class="input-group input-group-icon">
        <input type="email" placeholder="Skill Name" formControlName="skillName"/>
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
   
      
    </div>
  
    <div class="row d_flex justify-content-end">
        <button type="button" class="btn btn-md btn-outline-secondary mr-2" (click)="close()">Back</button>
        <button type="submit" class="btn btn-md btn-outline-primary" [disabled]="!skillRegistrationForm.valid">Save</button>
    </div>
   
  
  </form>
  
  </div>