<nav >
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item" >
            <a class="nav-link"  href="javascript:void()" routerLink="employee" [routerLinkActive]="'active'">
              <span class="fa fa-user"></span>
               Manage Employee
            </a>
          </li>
      <li class="nav-item">
        <a class="nav-link"  href="javascript:void()"  routerLink="skill" [routerLinkActive]="'active'">
          <span class="fa fa-home"></span>
          Manage Skills
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link"  href="javascript:void()"  routerLink="search" [routerLinkActive]="'active'">
            <span class="fa fa-home"></span>
            Profile Search
          </a>
        </li>
  
     </ul>
  </div>
</nav>